<header class="header">
  <div class="container">
    <div class="logo">📚 BM</div>
    <nav class="nav">
      <ul>
        <li><a href="books.html" class="header-title">Books</a></li>
        <li><a href="favorites.html" class="header-title">Favs <span class="heart-icon">❤️</span><span class="favorites-count" id="favorites-count"></span></a></li>
        <li><a href="cart.html" class="header-title">Cart</a></li>
        <li><a href="order.html" class="header-title">Orders</a></li>
        <li><a href="#" id="logout" class="header-title">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
